.sidebarChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    word-break: break-word;
    cursor: pointer;
    align-items: center;
}

.sidebarChat:hover{
    background-color: #ebebeb;
}

.sidebarChat_info > h2{
    font-size: 16px;
    margin: 0px;
}

.sidebarChat_info > p{
    margin: 0px;
}

.sidebarChat_info{
    margin-left: 15px;
}

.add-new-chat-title{
    margin: 0px 0px 0px 10px;
}

a {
    text-decoration: none;
    color: black;
}